body {
  text-align: center;
  background-color: #3edf77;
}

h1 {
  color: #be4040;
  border: 15px groove lightblue;
  margin: auto;
  width: 500px;
}

.welcomeGame {
  font-size: 30px;
  font-weight: bold;
}

.fortuneFlame {
  width: 400px;
  height: 150px;
  margin: 30px auto;
}

#fortune {
  border: 15px solid gold;
  border-radius: 24px;
  font-size: 80px;
  font-weight: bold;
}


#btn {
  width: 300px;
  height: 70px;
  background: red;
  border-radius: 14px;
  margin: 50px auto;
  font-size: 30px;body {
  text-align: center;
  background-color: #3edf77;
}

h1 {
  color: #be4040;
  border: 15px groove lightblue;
  margin: auto;
  width: 500px;
}

.welcomeGame {
  font-size: 30px;
  font-weight: bold;
}

.fortuneFlame {
  width: 400px;
  height: 150px;
  margin: 30px auto;
}

#fortune {
  border: 15px solid gold;
  border-radius: 24px;
  font-size: 80px;
  font-weight: bold;
}


#btn {
  width: 300px;
  height: 70px;
  background: red;
  border-radius: 14px;
  margin: 50px auto;
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 70px;
  cursor: pointer;
  box-shadow: 0 10px 0 #d12727;
  user-select: none;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  box-shadow: 0 5px 0 #d12727;
  margin-top: 55px;
}

textarea {
  width: 400px;
  height: 100px;
  line-height: 1.8;
  resize: horizontal;
  overflow: auto;
}

canvas {
  background: black;
  border: 10px groove gold;
  margin-top: 50px;
}

#openDesc,#toGameList {
  width: 300px;
  height: 50px;
  background: blue;
  color: white;
  border-radius: 30px;
  margin: 50px auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 10px 0 #1e1eb8;
  user-select: none;
}

#openDesc:hover {
  opacity: 0.8;
}

#openDesc:active {
  box-shadow: 0 5px 0 #1e1eb8;
  margin-top: 55px;
  margin-bottom:45px;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 3px solid gray;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(58, 143, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#toGameList {
  margin-top: 0;
}

#toGameList:hover {
  opacity: 0.8;
}

#toGameList:active {
  box-shadow: 0 5px 0 #1e1eb8;
  margin-top: 55px;
  margin-bottom: 45px;
}

  color: white;
  font-weight: bold;
  line-height: 70px;
  cursor: pointer;
  box-shadow: 0 10px 0 #d12727;
  user-select: none;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  box-shadow: 0 5px 0 #d12727;
  margin-top: 55px;
}

textarea {
  width: 400px;
  height: 100px;
  line-height: 1.8;
  resize: horizontal;
  overflow: auto;
}

#openDesc,#toGameList {
  width: 300px;
  height: 50px;
  background: blue;
  color: white;
  border-radius: 30px;
  margin: 50px auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 10px 0 #1e1eb8;
  user-select: none;
}

#openDesc:hover {
  opacity: 0.8;
}

#openDesc:active {
  box-shadow: 0 5px 0 #1e1eb8;
  margin-top: 55px;
  margin-bottom:45px;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 3px solid gray;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(58, 143, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#toGameList {
  margin-top: 0;
}

#toGameList:hover {
  opacity: 0.8;
}

#toGameList:active {
  box-shadow: 0 5px 0 #1e1eb8;
  margin-top: 55px;
  margin-bottom: 45px;
}
